@font-face {
    font-family: team;
    src: url(../Fonts/Voyage-Regular.woff);
}

@font-face {
    font-family: button;
    src: url(../Fonts/OTJubilee-PlatinumRegular.woff);
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body {
width: 100%;
height: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    gap: 20px;  
}

h1{
    color: white;
    font-family: team;
    font-size: 100px;
    padding: 10px 50px; 
    border-radius: 10px;
    background-color: lightcoral;
}

button{
    margin: 20px;
    font-family: button;
    padding: 11px 20px;
    font-size: 20px;
    font-weight: 600;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 50px;
    color: black;
    background-color: white;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}